.text-center .edit-btn {
    font-size: 1em;
    color: rgb(255, 255, 255);
    background-color: #32cec6;
    border-radius: 0.5em;
    padding: 0.4em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.text-center .edit-btn:hover {
    cursor: pointer;
    background-color: cyan;
    color: rgb(77, 77, 77);color: grey;
}
