#sprite {
    width: 70px;
    height: 70px;
    background-image: url('https://s.pngkit.com/png/small/219-2198087_-img-stardew-valley-animal-sprites.png');  
}

@keyframes playRow1 {
    from { background-Position: -10px -10px; }
    to { background-Position: -300px -10px; }
}

@keyframes playRow2 {
    from { background-Position: -10px -90px; }
    to { background-Position: -300px -90px; }
}

@keyframes playRow3 {
    from { background-Position: -10px -160px; }
    to { background-Position: -300px -160px; }
}
  
@keyframes playRow4 {
    from { background-Position: -10px -235px; }
    to { background-Position: -300px -235px; }
}

@keyframes playRow5 {
    from { background-Position: -10px -310px; }
    to { background-Position: -300px -310px; }
}