.pets {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-image: linear-gradient(to bottom, #3b9797, #75bec3);
  background-size: cover;
  background-repeat: no-repeat;
}

.pets .header {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.pets .header h1 {
  font-size: 3em;
  color: #e5eaea;
}

.pets button {
  font-size: 1.2em;
  color: white;
  background-color: #32cec6;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em;
}

.pets button:hover {
  background-color: #dc4c64;
  color: white;
}

.pets .create-btn {
  width: 150px;
  border-radius: 0.75em;
}

.pets .create-btn:hover {
  cursor: pointer;
  background-color: cyan;
  color: rgb(77, 77, 77);
}
