.pets {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../../../public/main.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.pets .header {
    display: flex;
    justify-content: center;
}

.pets .header h1 {
    font-size: 3em;
}

.pets .header button {
    font-size: 1em;
    color: white;
    background-color: #32cec6;
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    position: absolute;
    right: 4.5%;
    top: 2.7em;
}

.pets .header button:hover {
    cursor: pointer;
}
