.main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../../../public/main.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.main h1 {
    border-top: 1px solid rgb(200, 194, 194);
    border-bottom: 1px solid rgb(200, 194, 194);
    padding: 10px;
    font-size: 5em;
    color: #32cec6;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.main button {
    background-color: #32cec6;
    color: white;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    position: fixed;
    font-size: 2em;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}